.page {
 color: var(--color-primary);
 background-color: var(--bg-primary);
 padding: .5rem;
 position: relative;
 display: grid;
 gap: .3rem;
 height: 100%;
 grid-template-rows: auto calc(1.75rem + .5rem*2);
}

.page__section {
 box-sizing: border-box;
 padding: 0 .3rem;
 position: relative;
}

.page__section-title {
 padding-bottom: .6rem;
 padding-top: 1rem;
 text-transform: uppercase;
 font-size: 1.1rem;
}

.page__inner {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
 gap: .3rem;
}

.page__line-sep {
 position: absolute;
 width: calc(100vw - .8rem);
 left: 50%;
 transform: translate(-50%, .6rem);
 height: 2px;
 box-sizing: border-box;
 border-bottom: 2px solid var(--border-secondary);
}
