<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link id="hostStyle" rel="stylesheet" href="output.css"/>
 <title>output</title>
</head>
<body>
<details class="output" open>
 <summary class="output__title">
  Output
 </summary>

 <svg id="btn_clear_output" class="icon output__icon_clear">
  <use href="../../assets/img/icons-sprite.svg#clear-output"></use>
 </svg>

 <textarea id="output_field" rows="5" class="hostTextarea output__field" disabled></textarea>

</details>
</body>
</html>