.footer {
 display: flex;
 flex-direction:row-reverse;
 justify-content: flex-start;
 align-items: flex-end;
 gap: 1rem;
 padding: .5rem;
 padding-right: 1rem;
 border-top: 1px solid var(--color-primary);
}




