.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
/* display: grid;
 grid-template-columns:  repeat(3, auto);
 justify-content: start;
 align-items: center;*/
 gap: .5rem;
 padding: .3rem 1.5rem .3rem .3rem;
}

.footer_j-s-start {
 justify-self: start;
}

.footer_j-s-end {
 justify-self: end;
}
.footer__info-string {
 width: 100%;
}
.footer__buttons-string{
 display: grid;
 grid-template-columns:  30px 30px auto;
 justify-content: stretch;
 align-items: center
}

